<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WinService" connectionString="Server=localhost;Port=5432;Database=WinService;User Id=admin;Password=March@00;"/>    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="App.LogEnabled" value="true"/>
    <add key="Database.MinRetries" value="3"/>
  </appSettings>
</configuration>